body {
  background-image: url("../images/background_img.png");
  background-repeat: repeat;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  margin-left: 35%;
}

#title {
  background: #9900cc;
  color: white;
  width: 250px;
  text-align: center;
  padding: 25px;
  position: relative;
  font-size: 30px;
  margin-top: 10px;
  border: 2px solid #cccccc;
}

#screen {
  overflow: auto;
}

#screen div {
  float: left;
}

#rules-area {
  background: #a9a9a9a9;
  color: white;
  text-align: center;
  font-size: 25px;
  border: 2px solid #cccccc;
  width: 100%;
  height: 310px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#random-area {
  width: 200px;
  height: 100px;
  padding: 4px;
  font-size: 3vw;
  color: black;
  background-color: mediumseagreen;
  position: relative;
  margin-left: 20px;
  background-color: #ff99ff
}

#score-area {
  width: 210px;
  height: 100px;
  padding: 4px;
  color: ghostwhite;
  background-color: #8b4513;
  margin-left: 20px;
}

#score-title {
  width: 210px;
  padding: 4px;
  margin-bottom: 10px;
  color: white;
  background-color: #8b4513;
  margin-left: 20px;
}

#crystal-area {
  float: left;
  margin-left: 40px;
  margin-right: 20px;
}

.crystals-button {
  display: inline;
}

.crystal-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: white;
  border: solid;
  border-color: lightblue;
}

#score-number {
  font-size: 3vw;
}

#win-area {
  height: 100px;
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 15px;
  background-color: #ff99ff;
}